<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="azureConfiguration" type="PC.ServiceBus.Configuration.AzureConfiguration, PC.ServiceBus"/>
  </configSections>
  <azureConfiguration>
    <settings>
      <add key="azureNamespace" value="sgpbede-development"></add>
      <add key="issuer" value="owner"></add>
      <add key="key" value="BqqMNHZJ+AxAK7YljKedUmISa2EQt6SldlngCr3gMik="></add>
    </settings>
    <topics>
      <topic name="IntegrationTests">
        <subscription name="IntegrationTests"></subscription>
      </topic>
    </topics>
  </azureConfiguration>
</configuration>