<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- Data access providers information 
    <providers resource="#PROVIDERS#"/>
    -->
  <providers embedded="PC.Entities.Tests.Integration.Repository.Maps.Config.providers.config, PC.Entities.Tests.Integration"/>
  

  <!-- Database connection information -->
    <database>
        <provider name="MySql"/>
        <dataSource
          name="marketdata"
          connectionString="Data Source=localhost;Port=3400;Database=pc_test;User Id=pctest;Password=pctest"/>
    </database>

    <!-- SQL Map Files -->
    <sqlMaps>
      <sqlMap embedded="PC.Repository.Maps.Entity.xml, PC.Repository" />

      <sqlMap embedded="PC.Entities.Tests.Integration.Repository.Maps.Generated.FieldTest.mygen.xml, PC.Entities.Tests.Integration" />
      <sqlMap embedded="PC.Entities.Tests.Integration.Repository.Maps.Generated.Thing.mygen.xml, PC.Entities.Tests.Integration" />
      <sqlMap embedded="PC.Entities.Tests.Integration.Repository.Maps.Generated.VersionedThing.mygen.xml, PC.Entities.Tests.Integration" />
      <sqlMap embedded="PC.Entities.Tests.Integration.Repository.Maps.Generated.ControlledUpdateThing.mygen.xml, PC.Entities.Tests.Integration" />
      <sqlMap embedded="PC.Entities.Tests.Integration.Repository.Maps.Generated.Widget.mygen.xml, PC.Entities.Tests.Integration" />
      <sqlMap embedded="PC.Entities.Tests.Integration.Repository.Maps.Handmade.FieldTest.xml, PC.Entities.Tests.Integration" />
      <sqlMap embedded="PC.Entities.Tests.Integration.Repository.Maps.Handmade.Thing.xml, PC.Entities.Tests.Integration" />
      <sqlMap embedded="PC.Entities.Tests.Integration.Repository.Maps.Handmade.VersionedThing.xml, PC.Entities.Tests.Integration" />
      <sqlMap embedded="PC.Entities.Tests.Integration.Repository.Maps.Handmade.ControlledUpdateThing.xml, PC.Entities.Tests.Integration" />
      <sqlMap embedded="PC.Entities.Tests.Integration.Repository.Maps.Handmade.Widget.xml, PC.Entities.Tests.Integration" />    
      
    </sqlMaps>

</sqlMapConfig>